#root {
  width: 100%; /* Ekranın tüm genişliğini kaplasın */
  height: 100vh; /* Yüksekliği tam ekran yapalım */
  margin: 0; /* Margin'i sıfırladık */
  padding: 2rem;
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
}
