@import 'tailwindcss';




html, body {
  margin: 0;
  padding: 0;
  height: 100%;   /* Yükseklik %100 */
  width: 100%;    /* Genişlik %100 */
 
  
}

body {
  background-color: #242424;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 100vw; /* Yatayda ekranı tamamen kaplasın */
  min-height: 100vh; /* Yükseklik tam dolacak */
}




button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  
  
}
